.accordion {
    font: 15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

/* conflito de propriedades css com o liferay */
.aui button, button {
    font: 15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    margin-bottom: 10px
}

.accordionTitle,
.toggle {
    font: 15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #044f86;
    color: white;
    /* --margin border padding content-- */
    margin-bottom: 10px;
    /* tira a borda do botão*/
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 1px 8px 0 #ccc;
    display: block;
}

.accordionTitle {
    background-color: #ccc;
    color: #666;
    font-weight: bold;
}

.inner {
    max-height: 60vh;
    overflow-y: auto;
    display: none;
    padding: 0 18px;
}

.inner p {
    color: #006400
}

.inner ul {
    font-weight: bold;
}

.inner ul li {
    list-style-type: "- ";
}

.inner button {
    background-color: #00bfff;
    color: #555;
    width: 20vw;
}
